html {
	min-height: 100%;
	height: 100%;
}
body {
	min-height: 100%;
}
#main {
	opacity: 0;
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}
#main.loaded {
	opacity: 1;
}

#loading {
	font-family: Consolas, 'Liberation Mono', Courier, monospace; 
	position: fixed; 
	display: inline-block; 
	width: 200px; 
	margin: -1em 0 0 -100px; 
	padding: 0; 
	text-align: center; 
	left: 50%; 
	top: 50%; 
	font-size: 20px; 
	line-height: 2em; 
	background: #fff; 
	border-radius: 5px;
}
